ld41_game/.vs/
ld41_game/.vscode/
Binaries/
Build/
Intermediate/
ld41_game/Saved/

ld41_game/\.idea/

ld41_game/\.kdev4/

*.pri

ld41_game/DistrictsCodeCompletionFolders\.txt

build-Districts-Desktop-Debug/\.qmake\.stash

ld41_game/Makefile

ld41_game/CMakeLists\.txt

ld41_game/Districts\.code-workspace

ld41_game/Districts\.kdev4

ld41_game/Districts\.pro

ld41_game/Districts\.pro\.user

ld41_game/DistrictsCodeLitePreProcessor\.txt

ld41_game/Districts\.workspace

ld41_game/DerivedDataCache/Boot\.ddc
ld41_game/ld41_game.sln
